body {
    background-color: rgb(232, 232, 232);
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 16px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}

.header-container select {
    position: absolute;
    left: 0;
    font-size: 18px;
    line-height: 20px;
    padding: 5px;
    margin-top: 5px;

}

.header-container .heading {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-container input[type="search"] {
    position: absolute;
    right: 200px;
    margin-top: 5px;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
    width: 250px;
}

.header-container button {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.table-area {
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    margin: 0 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: white;
    border: 3px solid grey;
    box-shadow: 1px 2px grey;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding-left: 10px;
    border: 1px solid black;

}

table th,
table td {
    border: 1px solid black;
    padding: 10px;
}

table thead tr {
    background-color: rgb(149, 149, 149);
    color: black;
}

.table-product thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

table tbody tr:nth-child(odd) {
    background-color: lightgray;
}

table tbody tr:nth-child(even) {
    background-color: white;
}

button {
    background-color: #b4b4b4;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-top: 5px;
    border: 3px solid grey;
    cursor: pointer;
    width: auto;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
}